[Unit]
Description=TC Executor
After=network.target

[Service]
User=USER
Group=USER
ExecStart=INSTALL/run-executor.sh
StandardInput=tty-force
StandardOutput=truncate:/tmp/tc-executor-output
Type=oneshot

[Install]
WantedBy=multi-user.target
