[Unit]
Description=TC Executor
After=network.target

[Service]
User=USER
Group=USER
ExecStart=INSTALL/run-executor.sh

[Install]
WantedBy=multi-user.target
