[executor]
name=tdc-executor
group=tc
test=tdc
[remote]
branches=https://netdev.bots.linux.dev/static/nipa/branches.json
[local]
base_path=/storage/
json_path=results
results_path=artifacts
tree_path=/nipa-data/kernel
patches_path=/tmp/kernel-patches
[www]
url=https://raw.githubusercontent.com/p4tc-dev/tc-executor/storage
# Specific stuff
[env]
paths=
[vm]
ld_paths=
paths=
init_prompt=/nipa-data/kernel#
virtme_opt=--rwdir=/nipa-data/kernel/
default_timeout=960
boot_timeout=25
[ksft]
target=tc-testing
[life]
single_shot=true
[cfg]
thread_cnt=1
